body {
  overflow: hidden;
}

.brand {
  margin-left: 0px !important;
}

.left {
  position: absolute;
  top: 50px;
  left: 10px;
  right: 50%;
  bottom: 0;
  overflow: auto;
}

.right {
  position: absolute;
  top: 50px;
  right: 10px;
  left: 51%;
  bottom: 0;
  overflow: auto;
}

.right-text, .left-text {
  width: 98%;
  height: 97%;
}

.right-text {
  font-family: monospace;
}
